/* Layout styling */
.container {
  padding: 0 15px;
}
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(253, 250, 250);
}
/*
Colors used:
Primary Color (Blue): #52A7CC;
Secondary Color (Orange): #FABB7C;
*/
body {
  font-family: "Lato", sans-serif;
}
body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #52a7cc;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #fabb7c;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited {
  /* visited link */
  color: #52a7cc;
}
a:active {
  /* selected link */
  color: #fabb7c;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

.button.contact {
  background-color: transparent;
  color: #52a7cc;
  text-transform: uppercase;
  border: 2px solid #52a7cc;
}
.button.contact:hover {
  background-color: #52a7cc;
  color: #ffffff;
}
.button.contact:active {
  /* selected link */
  color: #fabb7c;
}

.button.contact {
  background-color: transparent;
  color: #52a7cc;
  text-transform: uppercase;
  border: 2px solid #52a7cc;
}
.view.cv:hover {
  background-color: #52a7cc;
  color: #ffffff;
}
.view.cv:active {
  /* selected link */
  color: #fabb7c;
}

selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  position: relative;
  float: right;
  width: 80%;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center; /* Centers text */
}

.logo {
  max-width: 150px;
}

header {
  background-color: #ffe4c4;
  text-align: center;
  padding: 10px 0;
  position: fixed;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a:visited {
  padding: 0 15px;
}

nav > ul > li > a:active {
  padding: 0 15px;
}

nav > ul > li > a:hover {
  padding: 0 15px;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

main {
  padding-top: 133px;
}

header {
  text-align: unset;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#hero span {
  display: block;
}

.col-md-6 {
  width: 50%;
}
@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  /* selected link */
  color: #fabb7c;
}

.button {
  display: inline-block;
  background-color: #52a7cc;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #52a7cc;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #52a7cc;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #52a7cc; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  /* selected link */
  color: #fabb7c;
}
